body{
  margin:0px;

}
.blur{
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background: url('../img/gourmet-667599.jpg') no-repeat right fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.ontop {
	position: fixed;
  left: 0;
  right: 0;
	z-index: 900;
	width: 100%;
	height: 100%;
  background-color: rgb(255,255,255);
	display: none;
  opacity: .5;
  filter: alpha(opacity = 60);
}
#popup {
  z-index: 999;
	width: 400px;
	height: 400px;
	position: absolute;
  display: none;
	color: #ffffff;
	background-color: #c22d24;
	/* To align popup window at the center of screen*/
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
  border: 5px solid #d46c65;
}
#dish_popup {
  z-index: 999;
	width: 400px;
	height: 180px;
	position: absolute;
  display: none;
	color: #ffffff;
	background-color: #c22d24;
	/* To align popup window at the center of screen*/
	top: 50%;
	left: 50%;
	margin-top: -90px;
	margin-left: -200px;
  opacity:0.8;
  border: 5px solid #d46c65;
}
table{
  border-style:none;
  border:0px;
  font-size: 16px;
  padding: 30px;

}
table td{
  padding: 5px;
}
input {
  font-size: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px;
  background: #FFF;
  border: 1px solid #aac;
  color: #000;

}

input.time {
    width: 80px;
}

input.date {
    width: 90px;
}
a{
  text-decoration: none;
  color: #ffffff;
}
a:hover{
  color: #FFFFFF;
}
#nvabar{
  background-color: #c22d24;
  width: 100%;
  height: 40px;
  color: #ffffff;
  font-size: 16px;
}
#brand{
  width: 160px;
  height: 40px;
  float: left;
  margin-left: 40px;
  padding: 5px;
}
#brand img{
  width: 110px;
  height: 30px;
  padding-top: 5px;

}
#personal_info{
  float: left;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 10px;
  height: 40px;
}



#menu{
  float: left;
  height: 100%;
  height: 40px;
}
#menu a{
  text-decoration: none;
}
#menu a:hover{
  color: #FFFFFF;
}
#menu a li{
  list-style: none;
  float: left;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}
#menu li:hover{
  background-color: #d05b54;
}
#cart_info{
  float: right;
  padding-top: 10px;
  padding-bottom: 8px;
  margin-right: 40px;
  color: #ffffff;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  cursor: pointer;
}
.slide_right{
  right:0px;
  transition: right 0.4s ease-in-out 0s;
  -webkit-transition: right 0.4s ease-in-out 0s;
  -moz-transition: right 0.4s ease-in-out 0s;
  -o-transition: right 0.4s ease-in-out 0s;
}

#cart_info:hover{
  background-color: #d05b54;
}

#cart{
  height:100%;
  width:300px;
  position: fixed;
  right:-300px;
  top:40px;
  background-color: #ffffff;
  z-index: 10;
  color: #c22d24;
  padding: 20px;
  font-size: 14px;
}
#share_cart{
  height:100%;
  width:300px;
  position: fixed;
  right:-300px;
  top:40px;
  background-color: #ffffff;
  z-index: 10;
  color: #c22d24;
  padding: 20px;
  font-size: 14px;
}
.share_block{
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(218,129,123,0.4);
    border-radius: 2px;
}
.share_block input{
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(218,129,123,0.4);
    border-radius: 2px;
}
.cart_shops{
  margin-top: 10px;
  padding: 5px;
}
.cart_shops hr{
  width: 250px;
  margin-top: 4px;
  margin-bottom: 10px;

}
.cart_dishes{
  margin-left: 20px;
}
.cart_dishes li{
  list-style: none;
}
.close{
  text-align: left;

  height: 40px;
  float:left;
  margin-bottom: 10px;
    clear: both;
}
.cart_logo{
  text-align: center;
  margin: 10px;
  clear: both;
}
.return_bound{
  font-size: 18px;
  text-align: center;
}
.numbers_row{
  padding-left: 5px;
}
.numbers_row .dish_name{
  clear:both;
}
.numbers_row input{
  width: 20px;
  float: left;
  height: 20px;
  margin: 3px;
}
.numbers_row .inc_dec{
  float: left;
  margin: 3px;
  border: 1px solid #gray;
}
.numbers_row .price{
  float: right;
}
.delivery_fee{
  clear:both;
  height: 20px;
  margin-left: 22px;
}
.delivery_info{
  float: left;
}
.sub_total{
  clear: both;
  margin-left: 20px;
  font-size: 18px;
  height: 25px;
}
.total_member{
  clear: both;
  margin-left: 20px;
  font-size: 18px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.sharing_info{
  clear: both;
  text-align: left;
  background-color: gold;
  color: #C22d24;
  height: 100%;
  width: 800px;
  padding: 3px;
  font-size: 16px;
  padding-left: 15px;
}

.sharing_info a{
  font-weight: bold;
  font-size: 16px;
}
.fee{
  float: right;
}
.payment{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
}
.go_back{
  float: left;
}
.checkout{
  float:right;
}
.cust_btn{
  background-color: #c22d24;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
  margin:5px;
}
.cust_btn:hover{
  background-color: #d05b54;
  border: 2px solid #cccccc;
  border-radius: 5px;
  color:#FFFFFF;
  margin:5px;
}
.pop_close{
  height: 10px;
  padding-top: -10px;
  text-align: right;
  padding-right: 5px;
  cursor: pointer;
}
.add_shopping_cart select{
  background-color: #c22d24;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
  margin:5px;
  height: 31px;
  font-size: 14px;
}
.add_shopping_cart select:hover{
  background-color: #d05b54;
  border: 2px solid #cccccc;
  border-radius: 5px;
  color:#FFFFFF;
  margin:5px;
}

.add_shopping_cart{
  clear: both;
  text-align: right;
  margin-top: 40px;
  position: absolute;
  bottom: 10px;
  float:right;
}
.my_address{
  font-size: 18px;
  float: left;
}
.choose_address{
  clear: both;
  font-size: 28px;
  margin-top: 20px;
  height: 60px;
}
.choose_new_address{
  clear: both;
  font-size: 18px;
  margin-top: 40px;
  height: 60px;
  display:none;
}
#state{
  float: left;
  background-color: #C22d24;
}
#suburbs{
  float: left;
  background-color: #C22d24;
}
#building{
  float: left;
  background-color: #C22d24;
}
#detail_address{
  float: left;

}
#detail_address input{
  height: 45px;
  width: 150px;
}
#delivery_method{
  width: 600px;
  clear:both;
  font-size: 18px;
  margin-top: 20px;
}
.change_address{
  float: left;
  margin-left: 20px;
}
.total{
  clear: both;
  height: 60px;
  font-size: 20px;
  margin-top: 30px;
}

#left_filter{
  height: 100%;
  width:200px;
  position: absolute;
  left: 0px;
  background-color: #242526;
  color: #FFFFFF;
  font-size: 16px;

}
#share_left_filter{
  height: 100%;
  width:200px;
  position: absolute;
  left: 0px;
  background-color: #242526;
  color: #FFFFFF;
  font-size: 16px;

}

h4{
  text-align: center;
  margin-bottom: 5px;
  margin-top: 25px;
}
hr{
  width: 160px;
  margin-top: 4px;
  margin-bottom: 10px;
}
#left_filter li{
  list-style: none;
  margin: 0px;
  text-align: center;
  margin-top: 5px;
  cursor: pointer;
}
#share_left_filter li{
  list-style: none;
  margin: 0px;
  text-align: center;
  margin-top: 5px;
  cursor: pointer;
}
.dish_filter li:hover{
  background-color: #c22d24;
}
#hot_dish{
  margin-left: 20px;
  margin-right:20px;
  clear: both;
  padding-top: 5px;
}
.hot{
  width: 40px;
  height: 40px;
  float: left;
  margin: 5px;
  z-index: 5;
  text-align: center;
  cursor: pointer;
}
.hot img:hover{
  background-color: #c22d24;
  border: 1px solid #cccccc;
}
.hot img{
  width: 40px;
  height: 40px;
  z-index: 2;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background-color: #FFFFFF;
}

#share_order{
  clear: both;
  text-align: center;
  vertical-align: middle;
  margin-left: 20px;
  margin-right:20px;
}

#share_order_filter li{
  /*padding-left: 20px;
  padding-right:20px;*/
  padding-top: 5px;
}
#share_order_filter li:hover{
  background-color: #c22d24;
}
#main{
  height: 100%;
  margin-left: 270px;
  margin-right:70px;
  margin-top: 70px;
  min-width: 800px;
}
#share_main{
  height: 100%;
  margin-left: 270px;
  margin-right:70px;
  margin-top: 70px;
}
.suburb{
  font-size: 36px;
  color: #AC140C;
  float: left;
  height: 40px;
}
.main_header{
  height: 40px;
  min-width: 800px;
  margin-bottom: 5px;
}
.search{
  float:right;
  width:360px;
  height: 40px;
}
.search_color{
  color: #c22d24;
}
.search input{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #c22d24;
    width: 300px;
    font-size: 20px;
    color: #c22d24;

}
.shop{
  height: 160px;
  color: #FFFFFF;
  font-size: 16px;
  min-width: 800px;
}
.shop:nth-of-type(odd){
  background-color: rgba(194, 45, 36, 0.6);
}
.shop:nth-of-type(even){
  background-color: rgba(194, 45, 36, 0.8);
}
.shop:nth-of-type(odd):hover{
  background-color: rgba(200, 66, 57, 0.5);
  /*border: solid 1px #ffffff;*/
}
.shop:nth-of-type(even):hover{
  background-color: rgba(200, 66, 57, 0.6);
  /*border: solid 1px #ffffff;*/
}

.shop_logo{
  width: 160px;
  height: 160px;
  padding:15px;
  float: left;
  cursor:pointer;
}
.shop_logo img{
  width: 130px;
  height: 130px;
}
.shop_info{
  float: left;
  height: 160px;
  padding: 15px;
  width: 400px;
  cursor:pointer;
}
.shop_name{
  font-size: 20px;
  margin: 3px;
}
.open_time li{
  list-style: none;
  padding-top: 5px;
  font-size: 14px;
}
.support_payment{
  padding-top: 10px;
}
.group1{
  width: 200px;
  height: 130px;
  float: left;
}
.group2{
  width: 150px;
  height: 130px;
  float:right;

}
.stars{
  width: 200px;
  height: 20px;
  margin-top: 10px;
}
.delivery{
  padding-top: 60px;
}
.sharing{
  float: right;
  height: 160px;
  padding: 10px;
  text-align: center;
  background: url('../img/sharedeliver_bg.png') no-repeat;
}
.sharing li{
  list-style: none;
  padding-top: 2px;
  font-size: 14px;
  color: #C22d24;
  font-weight: bold;
  text-align: center;
}
.sharing li:first-child {
  font-size: 24px;
  text-align: center;
  margin: 5px;
  color: #FFFFFF;
  list-style: none;
}

.left_shop{
  height: 270px;
  padding: 30px;
}

.open_time li{
  text-align: left;
  font-size: 12px;
}

.left_shop_img img{
    width: 120px;
    height: 120px;
    margin: 10px;
    border: 1px solid #c22d24;
}
#other_restaurant{
  margin-top: 60px;
  text-align: center;
}


.dish{
  height: 160px;
  color: #FFFFFF;
  font-size: 16px;
  min-width: 400px;
  float: left;
  background-color: rgba(194, 45, 36, 0.6);
}
.dishes{
  min-width: 800px;
}

.pop_dish{
  height: 160px;
  color: #FFFFFF;
  font-size: 16px;
  width: 380px;
  float: left;
  background-color: #c22d24;
}
.dish:hover{
  background-color: rgba(200, 66, 57, 0.5);
}
.dish:nth-of-type(4n+2){
  background-color: rgba(194, 45, 36, 0.8);
}
.dish:nth-of-type(4n+3){
  background-color: rgba(194, 45, 36, 0.8);
}
.dish:nth-of-type(4n+2):hover{
  background-color: rgba(200, 66, 57, 0.6);
  /*border: solid 1px #ffffff;*/
}
.dish:nth-of-type(4n+3):hover{
  background-color: rgba(200, 66, 57, 0.6);
}

.dish_photo{
  width: 160px;
  height: 160px;
  padding:15px;
  float: left;
  cursor:pointer;
}
.dish_photo img{
  width: 130px;
  height: 130px;
}
.dish_info{
  float: left;
  height: 160px;
  padding: 15px;
  width: 240px;
  cursor:pointer;
  position: relative;
}
.pop_dish_info{
  float: left;
  height: 160px;
  padding: 15px;
  width: 220px;
  cursor:pointer;
  position: relative;
}
.dish_name{
  float: left;
}
.dish_price{
  clear:both;
}
.dish_stars{
  clear: both;
}
.sold{
  position: absolute;
  bottom: 20px;
}

#confirm_order{
  margin-left: 250px;
  margin-right: 250px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  color: #FFFFFF;
}

.order_content{
  padding: 20px;
}
.order_content hr{
  width: 100%;
}
#confirm_order .total{
  color: #C22D24;
  padding: 20px;
}

.order_content:nth-of-type(odd){
  background-color: rgba(194, 45, 36, 0.6);
}
.order_content:nth-of-type(even){
  background-color: rgba(194, 45, 36, 0.8);
}
/*.order_content:nth-of-type(odd):hover{
  background-color: rgba(200, 66, 57, 0.5);

}
.order_content:nth-of-type(even):hover{
  background-color: rgba(200, 66, 57, 0.6);

}*/

.dd-container{
  background-color: #c22d24;
  color: #FFFFFF;
}
.dd-select{
  background-color: #c22d24;
  color: #FFFFFF;
}
.dd-pointer{
  color: #FFFFFF;
}

#foot{
  height: 100px;
  background-color: #c22d24;
  color:#fff;
  clear: both;
  margin-top: 40px;
}
